key_files:
  - ~/.ssh/id_rsa
  - path: ~/.ssh/id_rsa_enc
    passphrase: secret
gateways:
  - server: user@addr:22
    tunnels:
      - remoteAddr:80 -> 127.0.0.1:8080
      - remoteAddr:443 -> 127.0.0.1:8081
      - remoteAddr:3306 -> /tmp/mysql.sock
